/* ------------------------ big screens -------------------------- */
@media (min-width: 840.1px) {
    
    .header h1 {
        font-size: 4.5rem;
    }

    .header-menu {
        display: none;
    }

    .sidebar {
        display: flex !important;
        width: 13%;
        min-width: 145px;
    }

    .slide {
        font-size: 4rem;
    }

    .button img {
        width: 5rem;
        height: 5rem;
    }

    #showResults p {
        font-weight: bold;
        font-size: 2.1rem;
        padding: 0;
        margin: 0;
    }
}


/* ------------------------ small screens -------------------------- */
@media (max-width: 840px) {

    .header h1 {
        font-size: 3.5em;
    }

    .sidebar {
        display: none;
        position: fixed;
        width: 120px;
        right: 0; 
        left: calc(100vw - 120px);
        top: -100vh;
        height: 100vh;
        transition: transform 0.4s ease-in;
        z-index: 100;
    }

    .slide {
        font-size: 3rem;
    }

    .button img {
        width: 4rem;
        height: 4rem;
    }

    #showResults p {
        font-weight: bold;
        font-size: 1.1rem;
        padding: 0;
        margin: 0;
    }
    
}

